@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

a {
    text-decoration: none;
}


.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(74, 40, 0, 1) 200%);
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

header h1 {
    font-size: 29px;
    font-weight: 800;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
}

nav ul {
    display: flex;
    gap: 5rem
}

nav ul li{
    list-style-type: none;
    z-index: 2;
}



nav ul li a {
    font-size: 13px;
    color: #fff;
}

.btn {
    padding: 1rem 2rem;
    background-color: #DC7000;
    border-radius: 7px;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #a15300;
}

.hero {
   position: relative;
   padding-bottom: 6rem;
}

.text {
    max-width: 530px;
}

.text h2 {
    font-size: 20px;
    font-weight: bold;
    color: #E87D0E;
    padding-bottom: 2rem;
}

.text h3 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.text p {
    font-weight: 500;
    line-height: 170%;
    padding-bottom: 3rem;
    text-align: left;
}

.text .btn2 {
   background: linear-gradient(112deg,rgba(250, 131, 5, 1) 0%, rgba(251, 158, 60, 1) 100%);
   padding: 12px 25px;
   border-radius: 25px;
   color: #fff;
   transition: all 0.5s ease;
   display: inline-block;
}

.text .btn2:hover {
   transform: scale(1.1);
}

.hero img {
   position: absolute;
   top: -10rem;
   right: 0;
   z-index: 1;
}

.trending {
   margin-top: 13rem;
}

.trending h2 {
   font-family: "Rubik", sans-serif;
   font-size: 31px;
   font-weight: bold;
}

.see-all , .projects-see-all {
   font-family: "Rubik", sans-serif;
   font-size: 20px;
   font-weight: 500;
   padding: 15px 10px;
   background-color: #1e1e1e;
   color: #fff;
   border-radius: 7px;
   float: right;
   transition: all 0.5s ease;
   display: block;
}

.see-all:hover , .projects-see-all:hover {
   transform: scale(1.1);
}

.games {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 3rem 0;
}

.games span {
   display: block;
   text-align: center;
   margin-top: 2rem;
   font-family: "Rubik", sans-serif;
}

.games span img {
   margin-right: 8px;
   position: relative;
   top: 3px;
}

.bigtext {
   font-size: 35px;
   font-weight: 600;
   max-width: 830px;
   text-align: center;
   padding: 3rem 0 ;
}

.banner h2 {
   font-size: 30px;
   font-weight: 600;
   padding-bottom: 3rem;
}

.banner p {
   max-width: 550px;
   padding-bottom: 5rem;
}

.banner img {
   width: 100%;
   margin-bottom: 13rem;
}

.features {
    background: url("./img/background.png") no-repeat center center fixed;
    background-size: cover;
    padding: 6rem 0;
}

.features h3, .features p {
    text-align: center;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 4rem;
}

.features-text {
    padding-bottom: 6rem;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.image {
    width: 30%;
    margin-right: 2%;
}

.image img {
    margin-bottom: 1rem;
}

.image p {
    margin-bottom: 1rem;
}

.projects h3 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 14rem;
    padding-bottom: 2.5rem;
}

.projects p {
    font-size: 14px;
    padding-bottom: 4rem;
}

.projects h3, .projects p {
    text-align: center;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}


.projects-images {
  max-width: 1170px;
  margin: 0 auto;
}

.projects-images img {
  margin: 0 10px 25px 0;
}

.projects-see-all {
    float: none;
    max-width: 9rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
}

.down {
    padding-bottom: 10rem;
}

.email p {
    max-width: 550px;
    text-align: left;
    margin-bottom: 2rem;
}

.email h3 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.checker {
    background-color: #1C140F;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checker h4 {
    font-size: 30px;
    font-weight: 500;
    padding: 2rem 0 1rem 1.5rem;
}

.checker p {
    font-size: 17px;
    padding: 0rem 0 1rem 1.5rem;
}

.input {
    padding-right: 5rem;
}

input {
    background-color: #fff;
    padding: 0.9rem 9rem 0.9rem 1rem;
    border: none;
    border-radius: 5px;
    position: relative;
    right: -7rem;
    z-index: 1;
}

.input button {
    padding: 10px 18px;
    background-color: #DC7000;
    border-radius: 7px;
    transition: all 0.5s ease;
    border: none;
    position: relative;
    z-index: 2;
    color: #fff;
    transition: all 0.5s ease;
}

.input button:hover {
    background-color: #a15300;
}

footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding-top: 5rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

footer h2 {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 1rem;
}

footer h3 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 1rem;
}

.footer-logo {
    max-width: 370px;
}

.footer-logo p {
    padding-bottom: 2rem;
    
}

.footer-down {
    max-width: 280px;
}

.footer-down p {
    padding-bottom: 1rem;
}


footer ul li {
    list-style-type: none;
    padding-bottom: 0.5rem;
}

.footer-images {
    display: flex;
    align-items: end;
}

.last {
    font-size: 13px;
    text-align: center;
    padding: 2rem 0;
}

@media (max-width: 768px) {

  header {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  nav ul {
    gap: 2rem;
    justify-content: center;
  }

  .hero img {
    display: none;
  }

  .text h3 {
    font-size: 32px;
  }

  .text p {
    font-size: 14px;
  }

  .games {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .image {
    width: 45%;
    margin-right: 0;
  }

  .projects-images {
    max-width: 100%;
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .projects-images img {
    width: 30%;
    height: auto;
    display: block;
    margin: 0;
  }

  .footer-info {
    flex-direction: column;
    gap: 2rem;
  }

  .checker {
    flex-direction: column;
    padding-bottom: 2rem;
    gap: 1.5rem;
    align-items: flex-start;
  }

  .email p , .email h3 {
    padding-left: 1.5rem;
  }

  input {
    right: -1.5rem;
  }

  .input button {
    right: 5rem;
  }

}
